/** ==================================
    Globales
    =================================**/

      h1 {
          padding-top: 4px;
        color: #2f2319;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      /** ==================================
    Main - Formulario - Registro
    =================================**/


      .formulario {
        text-align: center;
              
        background-size: cover;
      
        height: 100vh;
      }
      

     
      .boton-envio {
        background-color: #2f2319;
        font-family: "Baloo", cursive;
        letter-spacing: 5px;
      }
      .boton-envio:hover {
        background-color: #cc5d01;
      }
      
      /** ==================================
          Inicio de Sesion - Formulario
          =================================**/
      .largoFondos {
        width: 35%;
      }
      