/** ==================================
    GLOBALES
    =================================**/

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Baloo 2", cursive;
  height: 100vh;
  overflow: hidden;
}
header {
  max-height: 10vh;
  overflow: hidden;
}
main {
  max-height: 85vh;
  overflow: hidden;
}
footer {
  max-height: 5vh;
  overflow: hidden;
}
.alt_letra {
  font-family: "Baloo", cursive;
  letter-spacing: 2px;
}
.derecha {
  float: right;
}
.izquierda {
  float: left;
}

/** ==================================
          CABECERA
  =================================**/

nav {
  background-color: #2f2319;
  height: 500px;
}

.logo_header {
  width: 15%;
  padding-left: 20px;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
}

/** ==================================
          CONTENIDO PRINCIPAL
  =================================**/

.contenido_izquierdo {
  background: url(../img/fondoabeja.png);
  background-position: center;
  width: 20%;
  height: 100vh;
  text-align: center;
  border-right: #2f2319 1px solid;
}
.botones-accion {
    color: white;
    background-color: #CC5D01;
    width:80%;
    padding: 30px 0px;
    font-size: 30px;
    margin: 50px 0px;
    border: #2f2319 solid 2px;
    box-shadow:1px 1px 10px #2f2319;
    border-radius: 5px;
}
.botones-accion:hover {
  box-shadow:1px 1px 10px #CC5D01  ;
  background-color:#2f2319 ;
border: #2f2f2f 2px solid;
}

/** ==================================
          FOOTER
=================================**/
footer {
  background-color: #2f2319;
  height: 100vh;
  color: white;
}
footer P{
  padding: 3px 20px;
}
