/** ==================================
    Globales
    =================================**/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Baloo", cursive;
}
h1 {
  color: #2f2319;
  text-transform: uppercase;
  letter-spacing: 8px;
}
select option {
  margin: 40px;
  background: #2f2319;
  color: #fff;
  font-family: "Baloo 2", cursive;
}

.letra2 {
  font-family: "Baloo 2", cursive;
}

.iconoTipoUsuario {
  font-size: 80px;
  color: 2f2319;
  padding: 50px;
  position: relative;
  float: left;
}
.iconoTipoUsuario:hover i {
  color: #cc5d01;
  text-shadow: 2px 2px 5px grey;
}

/** ==================================
    Main - Formulario - Registro
    =================================**/

.logoFormu {
  width: 30%;
  margin-bottom: -200;
  margin-left: -390px;
}
.formulario {
  text-align: center;

  background: url(../img/fondoabeja.png);
  background-size: cover;

  height: 100vh;
}

.fondosG::placeholder {
  color: white;
  font-family: "Baloo 2", cursive;
}

.fondosG {
  background-color: rgba(83, 61, 39, 0.39);
  border: none;
  padding: 20px;
  color: #ef9d34;
  margin: 0px 15px;
  width: 250px;
  color: white;
  border-radius: 5px;
  outline: none;
}
.boton-envio {
  background-color: #2f2319;
  font-family: "Baloo", cursive;
  letter-spacing: 5px;
}
.boton-envio:hover {
  background-color: #cc5d01;
}

/** ==================================
    Inicio de Sesion - Formulario
    =================================**/
.largoFondos {
  width: 35%;
}
