/** ==================================
    Globales
    =================================**/
    * {
      box-sizing: border-box;
      margin: 0;
    }
    body {
      font-family: "Baloo", cursive;
    }
    h1 {
      color: #2f2319;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    select option {
      margin: 40px;
      background: #2f2319;
      color: #fff;
      font-family: "Baloo 2", cursive;
    }
    
    .letra2 {
      font-family: "Baloo 2", cursive;
    }
    
    .iconoTipoUsuario {
     
        color: #2f2319;
        width:80%;
        font-size: 80px;
        margin: 0px 50px;
        text-shadow:2px 5px 7px #2f2319;
    }
    .iconoTipoUsuario i:hover {
      color:#cc5d01 ;
      
    }
    .active {
      color:#cc5d01 ;
      
    }
    
    /** ==================================
        Main - Formulario - Registro
        =================================**/
    
    .logoFormu {
      width: 30%;
      margin-bottom: -50px;
      margin-top: 25px;
    }
    .formulario {
      text-align: center;
    
      background: url(../../assets/img/fondoabeja.png);
      background-size: cover;
    
      height: 100vh;
    }
    
    .fondosG::placeholder {
      color: white;
      font-family: "Baloo 2", cursive;
    }
    
    .fondosG {
      background-color: rgba(83, 61, 39, 0.603);
      border: none;
      padding: 20px;
      color: #ef9d34;
      margin: 0px 15px;
      width: 250px;
      color: white;
      border-radius: 5px;
      outline: none;
    }
    .boton-envio {
      background-color: #2f2319;
      font-family: "Baloo", cursive;
      letter-spacing: 5px;
    }
    .boton-envio:hover {
      background-color: #cc5d01;
    }
    
    /** ==================================
        Inicio de Sesion - Formulario
        =================================**/
    .largoFondos {
      width: 35%;
    }
    
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block; 
    }
    
    .upload-btn-wrapper input[type=file] {
      font-size: 11px;
      height: 100px;
      position: absolute;
      left: 12px;
      top: 0px;
      opacity: 0;

    }

    .boton-imagen {
      font-family: "Baloo", cursive;
      text-align: justify;
      background-color: #2f2319;
    }

    textarea {
        resize: none;
    }

    
      