
body{
    background-image: radial-gradient(#cc5d01, #eeba19, #ed8c01);
    font-family: 'Barlow', sans-serif;
}
main{
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 80%;

}
.img0{
    width: 26%;
    padding-bottom: 30px;
}
.center{
    text-align: center;

}
.center h1{
    padding: 20px;
    font-size: 5rem;
}
.center .ai{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}
.ai2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: white;
}
.a3{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;


}
.ai3{
    padding-top: 25px;
}
.inp{
    width: 40%;
    padding: 0.5%;
    border: 2px solid #ed8c01 ;
    border-radius: 8px;
}
.login button{
    background-color: #FF8800;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px;
    border-radius: 4px;
    width: 20%;


}
footer{
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
}
footer .p{
    font-weight: bold;
}
.social{
    width: 100%;
}

.social .img2{
    padding-left: 2%;
    padding-right:2% ;
    width: 5%;
}
.social .img3{

    padding-left: 2%;
    padding-right:2% ;
    width: 4%;
}
.ico1{
    padding-left: 2%;
    padding-right:2% ;
    width: 10%;

}