.fondosG::placeholder {
    color: white;
    font-family: "Baloo 2", cursive;
  }
  
  .fondosG {
    background-color: rgba(83, 61, 39, 0.603);
    border: none;
    padding: 20px;
    color: #ef9d34;
    margin: 0px 15px;
    width: 250px;
    color: white;
    border-radius: 5px;
    outline: none;
  }
  .boton-envio {
    background-color: #2f2319;
    font-family: "Baloo", cursive;
    letter-spacing: 5px;
  }
  .boton-envio:hover {
    background-color: #cc5d01;
  }