
.formulario {
  text-align: center;

  height: 100vh;
}

.boton-envio {
  background-color: #2f2319;
  font-family: "Baloo", cursive;
  letter-spacing: 5px;
}
.boton-envio:hover {
  background-color: #cc5d01;
}


.largoFondos {
  width: 35%;
}
