.logo{
    font-family: 'Baloo', cursive;
}

body{
    font-family: 'Baloo', cursive;
    color: #39323A;
    
}

h1{
    font-family: 'Baloo', sans-serif;
    color: #39323A;
}
h2,h3{
    font-family: 'Baloo', sans-serif;
    color: #39323A;
}
.colortitulos{
    color: #39323A;
}

.colorhead{


/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2ebd8+0,72ae94+100 */
background: rgb(210,235,216); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(210,235,216,1) 0%, rgba(114,174,148,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(210,235,216,1) 0%,rgba(114,174,148,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(210,235,216,1) 0%,rgba(114,174,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebd8', endColorstr='#72ae94',GradientType=1 ); /* IE6-9 */

}

.imagen2{
    width: 300px;
    margin: 0 auto;
    

}
.imagen3{
    width: 250px;

    margin-left: 150px;
    margin-bottom: 25px;

}
.imagen3_{
    width: 80%;
    border-radius: 50px;
    margin-left: 0px;
    margin-bottom: 25px;

}
.headertamano{
    height: 260px;
}
.tamano{
    width: 800px;
}
.venydes{

    background: rgb(210,235,216); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(210,235,216,1) 0%, rgba(114,174,148,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(210,235,216,1) 0%,rgba(114,174,148,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(210,235,216,1) 0%,rgba(114,174,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebd8', endColorstr='#72ae94',GradientType=1 ); /* IE6-9 */
    
}
.ventajas{
    background-color: rgba(149, 204, 236, 0.616);

}
.desventajas{
    background-color: rgba(233, 156, 226, 0.616);
}
.margen{
    margin-bottom: 0;
}

.sangria{
    text-indent: 20px;
}
.justificado{
    text-align: center;
}
.tablas{
    height: 215px;
}